<% add_decidim_meta_tags({
                           image_url: current_participatory_space.attached_uploader(:hero_image).path,
                           description: translated_attribute(current_participatory_space.short_description),
                           url: participatory_process_url(current_participatory_space),
                           twitter_handler: current_organization.twitter_handler
                         }) %>

<%
  edit_link(
    resource_locator(current_participatory_space).edit,
    :update,
    :process,
    process: current_participatory_space
  )
%>

<%= participatory_space_floating_help %>

<% if current_participatory_space.private_space? %>
  <%= render partial: "decidim/shared/private_participatory_space",
             locals: { text: t("private_space", scope: "decidim.participatory_processes.show") } %>
<% end %>

<%= cell("decidim/announcement", current_participatory_space.announcement) %>

<div class="row column">
  <div class="row">
    <div class="columns<%= " medium-7 mediumlarge-8" unless leadership_race_process?(current_participatory_space) %>">
      <div class="section">
        <h2 class="show-for-sr"><%= t(".title") %></h2>
        <% if participatory_process_group.present? %>
          <%= render partial: "participatory_process_group" %>
        <% end %>
        <div class="lead">
          <%= decidim_sanitize_editor translated_attribute(current_participatory_space.short_description) %>
        </div>
        <%= decidim_sanitize_editor translated_attribute(current_participatory_space.description) %>
      </div>
      <%= attachments_for current_participatory_space %>
      <%= render_hook(:participatory_space_highlighted_elements) %>

      <% unless leadership_race_process?(current_participatory_space) %>
        <% if related_processes.any? %>
          <div class="section row collapse related_processes">
            <h4 class="section-heading"><%= t "related_processes", scope: "decidim.participatory_processes.show" %></h4>
            <div class="collapsible-list row small-up-1 medium-up-2 card-grid">
              <% related_processes.each do |related_process| %>
                <%= card_for(related_process) %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if linked_assemblies.any? %>
          <div class="section">
            <h4 class="section-heading"><%= t("participatory_process.show.related_assemblies", scope: "decidim") %></h4>
            <div class="row small-up-1 medium-up-2 card-grid">
              <% linked_assemblies.each do |linked_assembly| %>
                <%= card_for(linked_assembly) %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>

    <%= render "sidebar" unless leadership_race_process?(current_participatory_space) %>

  </div>

  <% if current_participatory_space.show_statistics? %>
     <%= cell "decidim/statistics", stats.collection %>
  <% end %>

  <% if current_participatory_space.show_metrics? %>
    <%= render partial: "metrics" %>
  <% end %>
</div>
