<div class="extra__date-container">
  <% if same_day? %>
    <div class="extra__date">
      <%= l start_time, format: "%d" %>
      <span class="extra__month"><%= l start_time, format: "%B#{ " %Y" if show_year?}" %></span>
    </div>
    <div class="extra__time">
      <%= gpc_time_format start_time %> – <%= gpc_time_format end_time%>
      <%= gpc_time_zone start_time %>
    </div>
  <% else %>
    <div>
      <div class="extra__date">
        <%= l start_time, format: "%d" %>
        <span class="extra__month"><%= l start_time, format: "%B#{ " %Y" if show_year?}" %></span>
      </div>
      <div class="extra__time">
        <%= gpc_time_format start_time %>
        <%= gpc_time_zone start_time %>
      </div>
    </div>
    <%= icon "arrow-thin-right" %>
    <div>
      <div class="extra__date">
        <%= l end_time, format: "%d" %>
        <span class="extra__month"><%= l end_time, format: "%B#{ " %Y" if show_year?}" %></span>
      </div>
      <div class="extra__time">
        <%=  gpc_time_format end_time %>
        <%= gpc_time_zone end_time %>
      </div>
    </div>
  <% end %>
</div>
